*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #f5f5f5;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  gap: 40px;
}

header .logo img{
  width: 160px;
  margin-right: 140px;
}

.navlist{
  display: flex;
  gap: 40px;
  list-style: none;
}

.navlist li a{
  text-decoration: none;
  font-size: 16px;
  color: #222;
  transition: .3s;
  font-weight: 500;
}

.navlist li a:hover{
  color: #0078ff;
}

.btn{
  padding: 10px 14px;
  background: #0078ff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin-left: 140px;
}

.btn:hover{
  background: #005fcc;
}

#menu-icon{
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.hero{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #eef4ff, #fff);
  display: flex;
  align-items: center;
  padding: 0 8%;
  margin-top: 90px;
}

.hero-content{
  max-width: 750px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 12px;
}

.business-name{
  font-family: "Pacifico", cursive;
  font-size: 48px;
  color: #0078ff;
  margin-bottom: 15px;
}

.hero h2{
  font-size: 40px;
  font-weight: 700;
  color: #222;
  margin-bottom: 8px;

}

.hero h3{
  font-size: 24px;
  font-weight: 600;
  color: #444;
  margin-bottom: 18px;
}

.hero p{
  font-size: 18px;
  color: #555;
  max-width: 600px;
  line-height: 1.7;
  margin-bottom: 35px;
}

/* HERO BUTTONS */

.hero-buttons{
  display: flex;
  gap: 28px;
  margin-top: 8px;
  align-items: center;
  width: 100%;
}

.hero-btn{
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.hero-btn.primary{
  background: #0078ff;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.hero-btn.primary:hover{
  background: #005dcc;
}

.hero-btn.secondary{
  background: #fff;
  color: #0078ff;
  padding: 12px 28px;
  border-radius:  8px;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #0078ff;
  transition: 0.3s;
}

.hero-btn.secondary:hover{
  background: #e6f0ff;
}

.hero-image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img{
  max-width: 680px;
  width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.95;
}

/* RESPONSIVE */

@media(max-width: 900px){
  #menu-icon{
    font-size: 35px;
    cursor: pointer;
    display: none;
  }

  .navlist{
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    background: #fff;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.4s ease;
  }

  .navlist.open{
    height: 250px;
    padding: 20px 0;
  }

  .navlist li{
    text-align: center;
    padding: 10px 0;
  }

  .hero{
    padding: 130px 8% 70px;
  }

  .business-name{
    font-size: 38px;
  }

  .hero h2{
    font-size: 30px;
  }

  .hero h3{
    font-size: 20px;
  }

  .hero-buttons{
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }

  .hero-buttons a{
    text-align: center;
    width: 100%;
  }
}