*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #f5f5f5;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  gap: 40px;
}

header .logo img{
  width: 160px;
  margin-right: 140px;
}

.navlist{
  display: flex;
  gap: 40px;
  list-style: none;
}

.navlist li a{
  text-decoration: none;
  font-size: 16px;
  color: #222;
  transition: .3s;
  font-weight: 500;
}

.navlist li a:hover{
  color: #0078ff;
}

.navlist i {
  margin-left: 4px;
}

/* DROPDOWN */
.dropdown{
  position: relative;
}

.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  list-style: none;
  padding: 12px 0;
  width: 180px;
  display: none;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border-radius: 6px;
  z-index: 999;
}

.dropdown-menu li a{
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: #222;
  font-size: 15px;
}

.dropdown-menu li a:hover{
  background: #eef4ff;
  color: #0078ff;
}

/* SHOW ON HOVER */
.dropdown:hover .dropdown-menu {
  display: block;
}

.btn{
  padding: 10px 14px;
  background: #0078ff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  margin-left: 140px;
  gap: 8px;
}

.btn:hover{
  background: #005fcc;
}

#menu-icon{
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.hero{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #eef4ff, #fff);
  display: flex;
  align-items: center;
  padding: 0 8%;
  margin-top: 90px;
  justify-content: center;
}

.hero-content{
  max-width: 750px;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 12px;
  text-align: center;
}

.business-name{
  font-family: "Inter", sans-serif;
  font-size: 60px;
  color: #0078ff;
  margin-bottom: 15px;
  font-weight: 700;
}

.hero p{
  font-size: 20px;
  color: #555;
  max-width: 700px;
  line-height: 1.8;
  margin-bottom: 35px;
}

/* HERO BUTTONS */

.hero-buttons{
  display: flex;
  gap: 28px;
  margin-top: 8px;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
  width: auto;  /* remove full width */
}

.hero-btn{
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.hero-btn.primary{
  background: #0078ff;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.hero-btn.primary:hover{
  background: #005dcc;
}

.hero-btn.secondary{
  background: #fff;
  color: #0078ff;
  padding: 12px 28px;
  border-radius:  8px;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #0078ff;
  transition: 0.3s;
  
  gap: 8px;
}

.hero-btn.secondary:hover{
  background: #e6f0ff;
}

.slogan{
  border: solid 2px rgba(174,187,157,0.22);
  padding: 6px 12px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  background-color: rgba(174, 187, 157, 0.08);
  color: var(--neutral-white);
}

.span .material-symbols-outlined{
  color: var(--muted);
  font-size: 1.05rem;
}

/* RESPONSIVE */

@media(max-width: 900px){
  #menu-icon{
    font-size: 35px;
    cursor: pointer;
    display: none;
  }

  .navlist{
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    background: #fff;
    padding: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.4s ease;
  }

  .navlist.open{
    height: 250px;
    padding: 20px 0;
  }

  .navlist li{
    text-align: center;
    padding: 10px 0;
  }

  .hero{
    padding: 130px 8% 70px;
  }

  .business-name{
    font-size: 38px;
  }

  .hero h2{
    font-size: 30px;
  }

  .hero h3{
    font-size: 20px;
  }

  .hero-buttons{
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }

  .hero-buttons a{
    text-align: center;
    width: 100%;
  }
}